.container
  %table.table.table-striped
    %thead
      %tr
        %td Комментарии
        %td Удалить
        %td Добавить
      %tbody
        - @comments.each do |comment|
          %tr
            %td
              =comment.text
            %td
              Удалить
            %td Добавить

